.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 120s linear; */
  height: 80px;
}

.App-header {
  background-color: #F28E1C;
  height: 150px;
  padding: 20px;
  color: white;
  border-bottom: 5px solid goldenrod;
  box-shadow: 5px lightcoral;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.beer_table
{
  border: 3px solid #F28E1C;
}

.beer_table > thead
{
  border: 3px solid #F28E1C;
}

.beer_table > tr
{
  border: 3px solid #F28E1C;
}

.beer_table > tr > td
{
  border: 2px solid #F28E1C;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
